<section class="about section" id="about_1">
    <div class="mbox">
    <div class="title" data-aos="zoom-in">
        <h2>О компании </h2>
    </div>
    <div class="about_content">
        <div class="about_img " data-aos="fade-right">
            <div class="img_wrap">
                <img src="images/img.png" alt="img">
                <div class="site_link">
                    <a target="_blank" href="http://www.demis.ru/">Сайт компании</a>
                </div>
            </div>
        </div>
        <div class="about_text" data-aos="fade-left">
            <ol>
                <li>14-й год на рынке интернет-маркетинга.</li>
                <li>Более 700 высококвалифицированных сотрудников.</li>
                <li>Более 3 000 успешных проектов на абонентском обслуживании.</li>
                <li>Входит в ТОП-35 лучших работодателей России.</li>
                <li>1 место в трех независимых рейтингах SEO-компаний: «Рейтинг Рунета»; «КтоПродвинул.ру»; «TOPSEOs».</li>
                <li>Лучшая SEO-компания 2017 года.</li>
                <li>Обладатель Всероссийских премий «За вклад в экономическое развитие России», «Национальная марка качества», «Премии HR-бренд» и Международной премии «World Quality Commitment».</li>
            </ol>
            <span>Эффективное SMM-продвижение</span>
            <p>Мы уделяем особое внимание измерению эффективности своей работы. Нашей командой разработана уникальная методология, которая позволяет с высокой точностью спрогнозировать численность групп и объем трафика. Вы можете быть уверены в достижении желаемого результата.</p>
            <a class="button js-popup" data-id="Предложение" href="#make-request">Получить коммерческое предложение</a>
        </div>
        <div class="mobil_visible">
            <a class="more" href="#">Больше информации</a>
            <a class="btn" href="http://www.demis.ru/">Сайт компании</a>
        </div>
    </div>
</div>
</section>