<!-- Begin Examples -->
<section id="examples_1" class="examples section">
  <div class="examples-inner">
    <div class="title title-black" data-aos="zoom-in">
      <h2>Примеры</h2>
      <p>реализованных проектов</p>
    </div>
    <div class="slider-controls">
      <a href="#" class="slider-arrow examples-prev"></a>
      <a href="#" class="slider-arrow next examples-next"></a>
    </div>
    <ul class="examples-slider" data-aos="fade-up" data-aos-delay="300">
      <li>
        <div class="examples-left">
          <div class="examples-title">
            <h3>Проект: интернет-магазин зоотоваров</h3>
          </div>
          <div class="examples-subtitle">
            <h4>Задача:</h4>
          </div>
          <ul class="list">
            <li>повышение лояльности клиентов и укрепление позитивного</li>
          </ul>
          <div class="examples-subtitle">
            <h4>Результаты работы:</h4>
          </div>
          <ul class="counters-list">
            <li>
              <div class="counter-left">
                <img src="images/counter01.png" alt="">
                <span>+ <b>5585</b>%</span>
              </div>
              <div class="counter-right">
                <p>Число посетителей сообщества «ВКонтакте» на момент начала работ составлято 40 человек в месяц, а через 2 месяца после начала продвижения - 2 234 человека.</p>
              </div>
            </li>
            <li>
              <div class="counter-left">
                <img src="images/counter02.png" alt="">
                <span>+ <b>265</b>%</span>
              </div>
              <div class="counter-right">
                <p>Число участников сообщества «ВКонтакте» на момент начала работ составлято 694 человека, а через 2 месяца после начала продвижения - 1 838 человека.</p>
              </div>
            </li>
            <li>
              <div class="counter-left">
                <img src="images/counter02.png" alt="">
                <span>+ <b>84</b>%</span>
              </div>
              <div class="counter-right">
                <p>Число подписчиков сообщества «Twitter» за месяц продвижения увеличилось на 84 %.</p>
              </div>
            </li>
            <li>
              <div class="counter-left">
                <img src="images/counter03.png" alt="">
                <span>+ <b>70</b>%</span>
              </div>
              <div class="counter-right">
                <p>Количество упоминаний бренда на момент начала работ сотавляло 144 человек, а через месяц продвижения - 245 человек.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="examples-right">
          <div class="examples-social vk">
            <img src="images/examples-vk.png" alt="">
          </div>
          <div class="examples-social twitter">
            <img src="images/examples-twitter.png" alt="">
          </div>
          <img src="images/examples-pic01.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="examples-left">
          <div class="examples-title">
            <h3>Проект: меховая компания</h3>
          </div>
          <div class="examples-subtitle">
            <h4>Задача:</h4>
          </div>
          <ul class="list">
            <li>повышение узнаваемости бренда и увеличение вовлеченности пользователей</li>
            <li>актуализация контента</li>
            <li>обновление фотоальбома с товарами</li>
            <li>проведение фотоконкурса</li>
          </ul>
          <div class="examples-subtitle">
            <h4>Результаты работы:</h4>
          </div>
          <ul class="counters-list">
            <li>
              <div class="counter-left">
                <img src="images/counter01.png" alt="">
                <span>+ <b>1000</b></span>
              </div>
              <div class="counter-right">
                <p>Число посетителей сообщества за месяц продвижения выросло более чем на 1 000 человек.</p>
              </div>
            </li>
            <li>
              <div class="counter-left">
                <img src="images/counter04.png" alt="">
                <span>+ <b>54</b>%</span>
              </div>
              <div class="counter-right">
                <p>Коэффициент вовлеченности (учитывает отношение всех активностей участников сообщества (лайки/репосты/комментарии) к общему количеству участников групп</p>
              </div>
            </li>
            <li>
              <div class="counter-left">
                <img src="images/counter02.png" alt="">
                <span>+ <b>215</b>%</span>
              </div>
              <div class="counter-right">
                <p>Количество комментариев с вопросами о продукции через месяц после начала продвижения увеличилось более чем в 3 раза</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="examples-right">
          <div class="examples-social insta">
            <img src="images/examples-insta.png" alt="">
          </div>
          <img src="images/examples-pic02.jpg" alt="">
        </div>
      </li>
    </ul>
    <a href="#make-request" class="button js-popup" data-id="Примеры">Оформить заявку</a>
  </div>
</section>
<!-- End Examples -->