<!-- Begin Guarantees -->
<section id="guarantees_1" class="guarantees section">
  <div class="guarantees-inner">
    <div class="title" data-aos="zoom-in">
      <h2>ФИНАНсовые гарантии</h2>
      <p>на нашу работу</p>
    </div>
    <ul class="guarantees-list">
      <li data-aos="zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
        <figure>
          <div class="guarantees-icon">
            <img src="images/guarantees-icon01.png" alt="">
          </div>
          <figcaption>Привлечение только целевой
          <br>аудитории</figcaption>
        </figure>
        <div class="guarantees-text">
          <p>Мы привлечем в Ваши группы только целевых подписчиков, которые  соответствуют согласованному с Вами портрету целевой аудитории.</p>
        </div>
      </li>
      <li data-aos="zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
        <figure>
          <div class="guarantees-icon">
            <img src="images/guarantees-icon02.png" alt="">
          </div>
          <figcaption>Достижение прогнозируемой численности сообществ</figcaption>
        </figure>
        <div class="guarantees-text">
          <p>Мы привлечем в Ваши группы обещанное в прогнозе количество пользователей. Иначе выплатим неустойку — 100% от абонентской платы за месяц.</p>
        </div>
      </li>
      <li data-aos="zoom-in" data-aos-easing="ease-in-back" data-aos-delay="700" data-aos-offset="0">
        <figure>
          <div class="guarantees-icon">
            <img src="images/guarantees-icon03.png" alt="">
          </div>
          <figcaption>Достижение прогнозируемого количества переходов из социальных сетей</figcaption>
        </figure>
        <div class="guarantees-text">
          <p>Мы привлечем на Ваш сайт обещанное в прогнозе количество посетителей из социальных сетей.</p>
        </div>
      </li>
      <li data-aos="zoom-in" data-aos-easing="ease-in-back" data-aos-delay="900" data-aos-offset="0">
        <figure>
          <div class="guarantees-icon">
            <img src="images/guarantees-icon04.png" alt="">
          </div>
          <figcaption>Достижение прогнозируемого количества целевых действий</figcaption>
        </figure>
        <div class="guarantees-text">
          <p>Мы обеспечим на Вашем сайте обещанное в прогнозе количество целевых действий, совершаемых потенциальными покупателями из социальных сетей.</p>
        </div>
      </li>
      <li data-aos="zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1100" data-aos-offset="0">
        <figure>
          <div class="guarantees-icon">
            <img src="images/guarantees-icon05.png" alt="">
          </div>
          <figcaption>Строгое соблюдение правил социальных сетей и защита от бана</figcaption>
        </figure>
        <div class="guarantees-text">
          <p>Непрофессиональное или чрезмерно активное развитие групп часто приводит к бану — удалению групп из социальных сетей.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End Guarantees -->