<!-- HEADER -->
<header class="header">
    <div class="main_logo">
        <div class="logo_wrap">
            <a href="#">
                <img src="images/header_logo.png" alt="logo">
            </a>
        </div>
    </div>
    <div class="header_contacts">
        <div class="phone">
            <a href="tel:+7495108 08 93">+ 7 (495) 108 08 93</a>
        </div>
        <div class="mail">
            <a href="mailto:info@demis.ru">info@demis.ru</a>
        </div>
    </div>
    <div class="call_btn">
        <a class="button js-popup_call" data-id="заявка" href="#call-request">Заказать звонок</a>
    </div>
    <div class="menu_btn mobil_visible">
        <div class="img_wrap">
            <img src="images/m_btn.png" alt="btn">
        </div>
        <span>МЕНЮ</span>
    </div>
    <div class="main_nav">
        <div class="mobil_visible close">
        </div>
        <ul class="menu">
            <li data-menuanchor="about" ><a href="#about" data-href="#about_1">О компании</a></li>
            <li data-menuanchor="rates"><a href="#rates" data-href="#rates_1">Тарифы</a></li>
            <li data-menuanchor="examples"><a href="#examples" data-href="#examples_1">Наши работы</a></li>
            <li data-menuanchor="reviews"><a href="#reviews" data-href="#reviews_1">Отзывы</a></li>
            <li data-menuanchor="footer"><a href="#footer"  data-href="#footer_1">Контакты</a></li>
        </ul>
    </div>
</header>
<!-- /HEADER -->

