<section class="main_slider " id="main_slider_1">
    <div class="mbox">
        <div class="section_text">
            <h1 data-aos='zoom-in'>Вы хотели бы <span>получать результат</span> от социальных сетей?</h1>
            <a data-aos='zoom-in' class="button js-popup" data-id="заявка" href="#make-request">Оформить заявку</a>
        </div>
        <div class="slider_wrap">
            <div class="slider_bg_line">
                <div class="svg">
                    <canvas class="chart" style="border:1px solid #d3d3d3;"> 
                </div>
            </div>
            <div class="slider">    
                <div class="slide">
                    <div class="slide_img">
                        <img src="images/slide.png" alt="slide">
                    </div>
                    <div class="slide_text">
                        <p>Мы дарим <span style="color: #bd3a2f">до 20 000 р </span>на рекламу</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide_img">
                        <img src="images/slide_2.png" alt="slide">
                    </div>
                    <div class="slide_text">
                        <p>5 финансовых гарантий результата. 
                            <span style="display:block;color: #bd3a2f;text-transform:none;">Не выполним прогноз - вернем деньги!</span>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide_img">
                        <img src="images/slide.png" alt="slide">
                    </div>
                    <div class="slide_text">
                        <p>Мы дарим <span style="color: #bd3a2f">до 20 000 р </span>на рекламу</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="slide_img">
                        <img src="images/slide_2.png" alt="slide">
                    </div>
                    <div class="slide_text">
                        <p>5 финансовых гарантий результата. 
                            <span style="display:block;color: #bd3a2f;text-transform:none;">Не выполним прогноз - вернем деньги!</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="down">
        <span class='arrow'></span>
        <a href="#guarantees" data-href="#guarantees_1" class="mouse"></a>
    </div>
</section>