<!-- Begin Rates -->
<section id="rates_1" class="rates section">
  <div class="rates-inner">
    <div class="title title-black" data-aos="zoom-in">
      <h2>Тариф</h2>
      <p>наиболее подходящий для Вас</p>
    </div>
    <ul class="rates-list">
      <li data-aos="flip-left"  data-aos-delay="300">
        <div class="rates-title">
          <h3>Тариф «Лайт»</h3>
        </div>
        <div class="rates-text">
          <p>Меньше целевых действий. Оптимальная стоимость одного целевого</p>
        </div>
        <ul class="list">
          <li>5000 — 7000 рублей на рекламу</li>
          <li>Повышение конверсии одной страницы Вашего сайта</li>
        </ul>
        <div class="rates-price">
          <p>от <b>45 000</b> Р</p>
          <span>в месяц</span>
        </div>
        <a href="#make-request" class="button js-rates-popup">Заказать</a>
      </li>
      <li data-aos="flip-left"  data-aos-delay="500">
        <div class="rates-title">
          <h3>Тариф «Максимум»</h3>
        </div>
        <div class="rates-text">
          <p>Очень много целевых действий, совершаемых посетителями сайта. Минимальная стоимость одного целевого действия.</p>
        </div>
        <ul class="list">
          <li>15 000 — 20 000 рублей на рекламу</li>
          <li>Повышение конверсии двух страниц Вашего сайта</li>
        </ul>
        <div class="rates-price">
          <p>от <b>120 000</b> Р</p>
          <span>в месяц</span>
        </div>
        <a href="#make-request" class="button js-rates-popup">Заказать</a>
      </li>
      <li data-aos="flip-left" data-aos-delay="700">
        <div class="rates-title">
          <h3>Тариф «Стандарт»</h3>
        </div>
        <div class="rates-text">
          <p>Много целевых действий, совершаемых посетителями сайта. Выгодная стоимость одного целевого действия.</p>
        </div>
        <ul class="list">
          <li>10 000 — 15 000 рублей на рекламу</li>
          <li>Повышение конверсии одной страницы Вашего сайта</li>
        </ul>
        <div class="rates-price">
          <p>от <b>85 000</b> Р</p>
          <span>в месяц</span>
        </div>
        <a href="#make-request" class="button js-rates-popup">Заказать</a>
      </li>
    </ul>
  </div>
</section>
<!-- End Rates -->